<ion-header>
    <ion-navbar>
        <ion-buttons>
            <button ion-button clear (click)="onDismissModal()">Fermer</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card [ngClass]="{'is-on': !book.isLent, 'is-off': book.isLent }">
        <ion-card-header>
            {{ book.title }}
        </ion-card-header>
        <ion-card-content>
            <h3>{{ book.author }}</h3>
            <p *ngFor="let line of book.description">{{ line }}</p>
            <br />
            <h4 *ngIf="book.isLent">Livre prêté
                <span *ngIf="book.borrower">&nbsp; à {{ book.borrower.name }}</span>
            </h4>
            <h4 *ngIf="!book.isLent">Livre non prêté</h4>
        </ion-card-content>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col>
                <button ion-button (click)="onToggleLend()" full [disabled]="book.isLent" color="unavailable">Prêter</button>
            </ion-col>
            <ion-col>
                <button ion-button (click)="onToggleLend()" full [disabled]="!book.isLent" color="available">Rendre</button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <form [formGroup]="borrowForm" *ngIf="isLending">
        <ion-list>
            <ion-item>
                <ion-label floating>Nom de l'emprunteur</ion-label>
                <ion-input formControlName="name"></ion-input>
            </ion-item>
        </ion-list>
        <button ion-button full [disabled]="borrowForm.invalid" (click)="onSubmitForm()">Enregistrer</button>
    </form>
</ion-content>